@using Microsoft.Graph



<FluentCard style="height: max-content; margin: 0.5em 0; max-width: 300px;">

	
	<div class="column">
		
			<img src="@ApprovalLogoUri"  style="border-radius: 32px; width: 64px; height: 64px; margin: 15px;" Shape="Shape.Circle" Shimmer="true" />
	</div>
	
	
	<div class="row">
			<h1 style="border-radius: 4px; height: 14px;text-align:center;" Shape="Shape.Rect" Shimmer="true">@ApprovalPending</h1>

		<p style="border-radius: 4px; margin-top: 5px; height: 10px;text-align:center;" Shape="Shape.Rect" Shimmer="true">Pending approvals</p>
		
	</div>
	
	

	


	
		
	
</FluentCard>


@code {
	
	[Parameter]
	public string ApprovalLogoUri { get; set; }

	[Parameter]
	public int ApprovalPending { get; set; }
}