@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@using MyApprovalsHub.Models
@using MyApprovalsHub.Services
@using MyApprovalsHub.ViewModel
@inject TeamsFx teamsfx
@inject TeamsUserCredential teamsUserCredential
@inject MicrosoftTeams MicrosoftTeams
@inject IWebHostEnvironment HostEnvironment
@inject IConfiguration Configuration
@inject NavigationManager MyNavigationManager

@if(isLoading)
{
    <div style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">
		<FluentProgressRing/>
	</div>
}
else
{
     <div class=" page-padding">

        <h5 class="left">Follows your approvals dashboard@(!String.IsNullOrEmpty(userName) ? ", " + userName : "")!</h5>
       
        <div class="welcome page" style="margin-top:40px">

            <div class="column">

            
                <ConcurApprovals ApprovalEmail=@userEmail />
            </div>

            <div class="column">
                <ApprovalsCard @ref="ServiceNowApprovalsCard" ApprovalLogoUri="servicenow.png" ApprovalPending=0 />

                @*<ServiceNowApprovals ApprovalEmail="luke.wilson@example.com"/>*@
            </div>

            <div class="column">
                <PeopleSoftApprovals />
            </div>

            <div class="column">
                <UKGApprovals />
            </div>            
            
        </div>

        <FluentDivider ></FluentDivider>
        
        <ApprovalsList @ref=ApprovalsListGrid/>
        
        <p>@errorMessage</p>
    </div>
}

@code {
    string userName;
    string userEmail;
    string errorMessage;
    bool isInTeams;
    bool isLoading = true;


    private ApprovalsCard ServiceNowApprovalsCard;
    private ApprovalsList ApprovalsListGrid;


    private WelcomeViewModel _vm = new();

    public Welcome()
    {
        //to avoid duplicities in case user refreshes the page
        ExpenseList.ClearExpenseList();

        _vm.ServiceNowPendingApprovalsTotal += TotalServiceNow;
    }

    public void TotalServiceNow(IEnumerable<PendingApproval> pendingApprovals)
    {

        ServiceNowApprovalsCard.UpdateApproval(pendingApprovals.Count());

        ApprovalsListGrid.UpdatePendingApprovalList(pendingApprovals);


    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if(firstRender)
        {
            isInTeams = await MicrosoftTeams.IsInTeams();

            if (isInTeams)
            { 
                var user = await teamsUserCredential.GetUserInfoAsync();
                userName = user.DisplayName;
                userEmail = user.PreferredUserName;
            }
            else
            {
                errorMessage = "Not running in Microsoft Teams.";
            }

            isLoading = false;
            StateHasChanged();            
        }

        _vm.GetPendingApprovals("luke.wilson@example.com");

        
    }
    
}

