@page "/config"
@inject MicrosoftTeams MicrosoftTeams;
@inject NavigationManager NavigationManager;

<div class="config page" id ="tab config" style="margin:20px">
       
    <OpenSettings/>

</div>

@code {

 

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            var settings = new TeamsInstanceSettings
            {
                SuggestedDisplayName = "Settings",
                ContentUrl = $"{NavigationManager.BaseUri}/config",
                    WebsiteUrl = $"{NavigationManager.BaseUri}/config"
                };

            await MicrosoftTeams.InitializeAsync();
            await MicrosoftTeams.RegisterOnSaveHandlerAsync(settings);
        }
    }
}
